<h1>About Us</h1>

<p>
     We are a community of learners, we love to incorporate many coding style 
     in our processes. Right now, our heart beats mostly towards Learning and 
     using Ruby on Rails.
</p>
<br/>
<h5><%= link_to('Contact us', {
    action: 'contact',
    country: ['us', 'ca', 'uk', 'other'].sample
}) %>
</h5>