// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// General
body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

label {
    font-size: x-large;
    font-family: bolder;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
form button {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: larger;
    cursor: pointer;
}

form button {
    background-color: tomato;
}

form button a {
    color: white;
}

input[type=submit]:hover {
    opacity: 0.5;
}

table {
    border: 20px solid black;
    border-radius: 10px 20px;
}

thead {
    background-color: aquamarine;
    font-size: medium;
    font-weight: bold;
}

tr {
    border: 15px solid dimgray;
    padding: 5px;
}

th,
td {
    color: gray;
    padding: 3px;
    margin: 5px;
}

span {
    color: brown;
}

button {
    background-color: aliceblue;
    color: palevioletred;
    margin-right: 5px;
}

button:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

a:hover {
    color: brown;
}

.notice,
.alert {
    opacity: 0.5;
    color: black;
}

.notice {
    background-color: greenyellow;
}

.alert {
    background-color: red;
}

// Show Page
.show {
    flex-direction: column;
}

.show td {
    color: indigo;
}

// New Page
.new {
    flex-direction: column;
}

.form {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 20px;
}